//全景分析主题
.theme-screen {
  overflow: hidden;

  /*  .el-tooltip__popper.is-dark {
    background: rgba(9, 39, 76, 0.8);
  } */

  //时间选择器下拉菜单
  .el-picker-panel__body {
    .el-date-range-picker__time-header {
      background: white;
    }

    .el-date-range-picker__content.is-left {
      background-color: white;
      color: black;
    }

    .el-date-range-picker__content .is-right {
      background-color: white;
      color: black;
    }
  }

  .el-date-range-picker .el-picker-panel__content {
    background-color: white;
    color: black;
  }

  .el-picker-panel__footer {
    background-color: white;

    .el-button--text {
      color: black;

      &:hover {
        color: #409eff;
        background-color: white;
      }
    }

    .el-button--default {
      color: #fff;
      background-color: #409eff;
      border-color: #409eff;
    }
  }

  .title_btn .el-button--default {
    background-color: white;
    color: black;
    border-color: #dcdfe6;
  }

  .get_event_time {
    .el-picker-panel__footer {
      background-color: transparent;
      color: white;

      .el-button--text {
        color: white;

        &:hover {
          background-color: #0861aa;
        }
      }
    }

    .el-picker-panel__icon-btn {
      color: white;
    }
  }

  //点击工况的弹框样式
  .popoCont {
    .el-button--text {
      width: 56px;
      border-color: #409eff;

      span {
        border: none;
      }
    }
  }

  //时间选择器的样式
  .filter_block {
    background: linear-gradient(270deg, #0e496c 82%, rgba(14, 73, 108, 0) 100%);
    padding-left: 10px !important;

    .el-range-editor.el-input__inner {
      background: white;
      border-color: transparent;
      margin-left: 35px;
      width: 80px;
      float: right;
    }

    .el-range-editor.el-input__inner .el-icon-time::before {
      content: '\e78f';
      background: none;
      top: -1px;
    }

    .el-date-editor .el-range-separator {
      color: white;
    }

    .block_btn {
      display: inline-block;
      height: 30px;
      width: 30px;
      background: #0e496c;
      border-radius: 5px;
      margin-right: 5px;

      .func_btn {
        background: transparent;
        border: none;
        padding: 0;
        color: #fff;
        line-height: 28px;
        height: 30px;
        padding: 5px 5px 5px 5px;

        &:hover {
          background: #4c84b3;
        }

        img {
          float: left;
        }
      }

      .func_btn_active {
        background: #4c84b3;
      }

      .func_btn_none {
        background: #0e496c !important;
        border: none;
        padding: 0;
        color: #fff;
        line-height: 28px;
        height: 30px;
        padding: 5px 5px 5px 5px;

        &:hover {
          background: #0e496c;
        }

        img {
          float: left;
        }
      }
    }

    .data_picker {
      display: inline-block;
      background: white;
      color: black;
      padding-right: 5px;
      border-radius: 5px;
      position: relative;
      margin-right: -90px;
      z-index: 10;
      height: 30px;
      line-height: 30px;

      .data_picker_btn {
        font-size: 12px;
        cursor: default;
        text-align: center;
        display: table;
        padding-right: 4px;
        padding-left: 5px;
      }

      .el-icon-time {
        margin: 7px 5px 3px 15px;
        float: left;
      }
    }

    .time_filter_block {
      margin-left: 60px;
    }
  }

  .el-slider__marks {
    .el-slider__marks-text {
      width: 39px;
    }
  }

  .extendContent {
    background: #1c3a5a !important;
    padding: 10px;

    .cardContent {
      .title {
        color: #fff
      }
    }
  }
}