.content {
  .row-flex {
    display: flex;
    flex-direction: row;
    width: 542px;
    justify-content: space-around;
    div {
      width: 68.43px;
      height: 68.43px;
      background: rgba(216, 216, 216, 0.1);
      border-radius: 5px;
      cursor: pointer;
      div {
        padding: 15px;
      }
    }
  }
  .span-class {
    width: 515px;
    display: flex;
    flex-wrap: wrap;
    max-height: 300px; // 250px
    overflow-y: auto;
    margin-top: 10px;
    margin-left: 14px;
    div {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      padding: 7px;
      align-items: center;
      span {
        font-family: SourceHanSansCN-Regular;
        font-size: 14px;
        font-weight: normal;
        line-height: 17px;
        letter-spacing: 0em;
        color: #ffffff;
      }
    }
  }
}

.boder {
  background: rgba(31, 255, 255, 0.2) !important;
  box-sizing: border-box;
  border: 1px solid #1FFFFF;
  border-radius: 5px;
}

.round {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  background-color: red;
  margin-top: 0px !important;
  margin-right: 8px;
  // position: relative;
  // top: 6px;
}

.click-bg {
    background: rgba(216, 216, 216, 0.1);
}